<head>
  <meta charset="utf-8">
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" href="/assets/images/blog.ico"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
  <script>

    function drawBackground() {
      const backgroundCanvas = document.getElementById(
        "backgroundImage"
      );
      const ctx = backgroundCanvas.getContext("2d");
      if (!ctx) return;
      const mainCanvas = document.getElementById("main");
      if (!mainCanvas) {
        return;
      }

      const boundingRect = mainCanvas.getBoundingClientRect();
      const w = boundingRect.width;
      const h = boundingRect.height;

      $(backgroundCanvas).prop('width',w);
      $(backgroundCanvas).prop('height',h)

      ctx.clearRect(0, 0, w, h);
      ctx.beginPath();
      ctx.moveTo(0, h * 0.85);
      ctx.quadraticCurveTo(w / 1.85, h, w, 0);
      ctx.lineTo(w, h);
      ctx.lineTo(0, h);
      ctx.fillStyle = "#4c2e5c";
      ctx.strokeStyle = "#4c2e5c";
      ctx.fill();
      ctx.closePath();
      ctx.stroke();
    }

    $(document).ready(function () {
      drawBackground();
      $(window).on('resize', function () {
        drawBackground();
      })
    })
  </script>
</head>
