/**
 * Site header
 */
.site-header {
  border-top: 5px solid $gold;
  min-height: 56px;
  padding: 5px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.boxed-content {
  background: $e621-content-blue;
  z-index: 10000;
  position: relative;
  width: 99.984%;
}

.site-title {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  float: left;
  color: $reach-white;
  &:hover {
    color: darken($reach-white, 20%)
  }

  &:visited {
    color: $reach-white;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .nav-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

.nav-link {
  color: $text-color;
  background-color: $e621-link;
  border: 1px solid #8899af;
  margin-right: 5px;
  padding: {
    left: 10px;
    right: 10px;
    top: 2px;
    bottom: 2px;
  }

  &:hover {
    background-color: $e621-hover;
    color: white;
    cursor: pointer;
  }
  border-radius: 10px;
  box-shadow: 2px 2px 5px #07162D;
  line-height: $base-line-height;
}

.page-current {
  color: $reach-white;
  margin-right: 5px;
  padding: {

  }
  font-weight: 400;
}

/**
 * Site footer
 */
.site-footer {
  border-bottom: 5px solid $e621-dark-blue;
  border-top: 2px dotted $gold;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width: calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width: calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit/2;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-row {
  padding-bottom: 5px;
}

.post-container {
  background: $e621-box-blue;
  border-radius: 5px;
  padding: 10px;
  @include hexRain;
}

.post-excerpt {
  color: $reach-white
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.cloud-tag {
  margin: 4px;
  padding: 2px;
}
