---
layout: default
---

<h1 class="category">{{ page.title }} <a href="javascript:window.history.back();">&laquo;</a></h1>
<ul class="posts">

{% if page.category_root %}
	{% include taxonomy_sort.html source=site.categories %}
	{% for taxonomy in sortedtaxonomies %}
		<h2><a href="{{ page.url | prepend: base_url | replace: "/index.html", "" | append: "/" | replace: "//", "/" }}{{ taxonomy }}/">{{ taxonomy }}</a></h2>
	{% endfor %}
{% else %}
	{% assign catpages = site.categories[page.category] | sort: 'date' %}
	<ul class="post-list">
		{% for post in catpages %}
		<li class="post-row">
			<div class="post-container">
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h2>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<div>Date Published: {{ post.date | date_to_long_string }}</div>
				<div class="categories">Related Tags: {{ post.categories |  category_links  | join: ' ' }}</div>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endif %}
</ul>
