---
layout: tagTemplate
---

<ul class="post-list">
	{% for post in page.posts %}
	<li class="post-row">
		<div class="post-container">
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<div>Date Published: {{ post.date | date_to_long_string }}</div>
			<div class="categories">Related Tags: {{ post.tags |  tag_links  | join: ' ' }}</div>
		</div>
	</li>
	{% endfor %}
</ul>